
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1489469479561'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1489469479561#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1489469479561') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1489469479561') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1489469479561#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before { content: "\e61c"; }

.icon-gouwudai:before { content: "\e61d"; }

.icon-pingguo:before { content: "\e600"; }

