body{
	font-family: "苹方","微软雅黑","Helvetica";
	background: #f9f9f9;
}
header{
	width: 100%;
	overflow: hidden;
	float: left;	
	background: #131413;
}
header .header-main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
header .header-main .top{
	width: 100%;
	height: 82px;
	float: left;
	margin-top: 25px;

}
header .header-main .top .top-z{
	width: 230px;
	height: 100%;
	float: left;
}
header .header-main .top .top-z .logo{
	float: left;
}
header .header-main .top .top-z .logo-zi{
	float: left;
	margin-left: 13px;
	margin-top: 12.5px;
}
header .header-main .top .top-y{
	width: 970px;
	height: 100%;
	float: left;
	display: flex;
	justify-content: space-between;
}
header .header-main .top .top-y li{
	height: 100%;
	margin-top: 12px;
}
header .header-main .top .top-y li .p1{
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
header .header-main .top .top-y li .p2{
	font-size: 12px;
	color: #7f7d77;
	text-align: center;
	line-height: 20px;
}
.banner{
	width: 100%;
	height: 532px;
	float: left;
}
.banner .bottom{
	width: 100%;
	height: 532px;
	float: left;
}
nav{
	width: 100%;
	overflow: hidden;
	float: left; 
}
nav .nav-main{
	width: 1200px;
	height: 114px;
	margin: 0 auto;
}
nav .nav-main .p1{
	width: 100%;
	height: 14px;
	font-size: 14px;
	color: #696969;
	margin-top: 12px;
	font-weight: 600;
}
nav .nav-main .box1{
	width: 100%;
	height: 252px;
	float: left;
	margin-top: 77px;
}
nav .nav-main .box1 .about{
	width: 100%;
	height: 32px;
	float: left;
}
nav .nav-main .box1 .about .s1{
	width: 221px;
	height: 32px;
	margin: 0 auto;
	font-size: 24px;
	color: #000;
	text-align: center;
	line-height: 32px;
	background: url('../img/shouye/mei5-us.png')center center no-repeat;
	background-size: 100%;
}
nav .nav-main .box1 p{
	width: 100%;
	font-size: 19px;
	color: #000;
}
nav .nav-main .box1 .c1{
	margin-top: 60px;
}
nav .nav-main .box1 .c1 span{
	display: block;
	margin-top: 19px;
}
nav .nav-main .box1 .c2{
	margin-top: 19px;
}
nav .nav-main .box1 .c2 span{
	display: block;
	margin-top: 19px;
}
nav .nav-main .box1 .c3{
	margin-top: 19px;
}
nav .nav-main .box2{
	width: 100%;
	overflow: hidden;
	float: left;
	margin-top: 138px;
}
nav .nav-main .box2 .b2{
	width: 100%;
	float: left;
	font-size: 23px;
	color: #000;
	font-weight: 600;
	text-align: center;
}
nav .nav-main .box2 .pp{
	width: 100%;
	float: left;
	font-size: 19px;
	color: #000;
	margin-top: 45px;
}
nav .nav-main .box2 .p2{
	width: 100%;
	float: left;
	font-size: 19px;
	color: #000;
	margin-top: 19px;
}
nav .nav-main .box2 .p2 span{
	display: block;
	margin-top: 19px;
}
nav .nav-main .box2 .p3{
	width: 100%;
	float: left;
	font-size: 19px;
	color: #000;
	margin-top: 19px;
}
nav .nav-main .box2 .p4{
	width: 100%;
	float: left;
	font-size: 19px;
	color: #000;
	margin-top: 19px;
}
footer{
	width: 100%;
	height: 563px;
	background:#0f0e0e;
	float: left;
	margin-top: 30px;
}
footer .f-shang{
	width: 100%;
	height: 470px;
	float: left;
}
footer .f-shang .footer-main{
	width: 1200px;
	height: 470px;
	margin: 0 auto;
}
footer .f-shang .footer-main .f-left{
	width: 818px;
	height: 470px;
	float: left;
}
footer .f-shang .footer-main .f-left .l-up{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 60px;
}
footer .f-shang .footer-main .f-left .l-down{
	width: 520px;
	height: 135px;
	float: left;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
footer .f-shang .footer-main .f-left .l-down .down{
	float: left;
	
}
footer .f-shang .footer-main .f-left .l-down .down dt{
	font-size: 17px;
	color: #878787;
	font-weight: 600;
}
footer .f-shang .footer-main .f-left .l-down .down dd{
	font-size: 14px;
	color: #4e4e4e;
	margin-top: 26px;
}
footer .f-shang .footer-main .f-right{
	width: 382px;
	height: 470px;
	float: right;
}
footer .f-shang .footer-main .f-right .liu{
	width: 100%;
	color: #878787;
	font-size: 17px;
	font-weight: 600;
	margin-top: 130px;
}
footer .f-shang .footer-main .f-right input{
	background: #201f1f;
	border: none;
	padding-left: 10px;
	font-size: 14px;
	color: #353333;
}
footer .f-shang .footer-main .f-right input:focus{
	outline: none;
}
footer .f-shang .footer-main .f-right .name{
	width: 164px;
	height: 34px;
	float: left;
}
footer .f-shang .footer-main .f-right .phone{
	width: 164px;
	height: 34px;
	float: right;
}
footer .f-shang .footer-main .f-right .addr{
	width: 100%;
	height: 35px;
	float:left;
	margin-top: 14px;
}
footer .f-shang .footer-main .f-right .shuru{
	width: 100%;
	height: 97px;
	float:left;
	margin-top: 14px;
}
footer .f-shang .footer-main .f-right .submit{
	width: 139px;
	height: 49px;
	float:right;
	margin-top: 14px;
	background: #3c3314;
	font-size: 19px;
	font-weight: 600;
	color: #d4cebb;
	text-align: center;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 0;
}
footer .f-shang .footer-main .f-right .submit:focus{
	outline: none;
}
footer .f-xia{
	width: 100%;
	height: 93px;
	float: left;
	border: 1px solid #383838;
	font-size: 15px;
	color: #474747;
	text-align: center;
}
footer .f-xia .p1{
	margin-top: 30px;
	margin-bottom: 2px;
}